* {
    margin: 0;
    padding: 0;
}

.container{
    box-shadow: 0 20px 30px black;
    border-radius: 10px ;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    transition: all 1s ;
}

.container-items{
    position: absolute;
    width: 100%;
    height: 100%;
    transition: all 1s;    
}

.item { 
    position: absolute;
    height: 100%;
    width: 100%;
}

.item img{ 
    width: 100%;
    height: 100%;
    border-radius: 10px ;
}

.btn-acao{
    /* o display dele vai variar no js ---- alternando entre none e flex */
    display: none;
    align-items: center;
    height: 100%;
    font-size: 30px;
    font-weight: bold;
    padding-inline: 10px ;
    color: white;
    background-color: rgba(0, 0, 0, 0.496);
    z-index: 1;
    transition: all 1s
}


.previous{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.next{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

