*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

body{
    background-color: gold;
}

.container{
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    max-width: 700px;
}
.header{
    padding: 15px;
    background-color: black;
    color: goldenrod;
    font-size: 2rem;
    font-weight: bolder;
    width: 100%;
    margin: auto;
    text-align: center;
}

.item{
    margin-block: 20px;
    box-shadow: 1px 1px 5px 1px black ;
    font-size: 1.3rem;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.item:hover{
    background-color: black;
    color: gold;
    transform: scale(1.01);
    transition: all .5s;
}

.item i {
    transform: scale(1.5);
}

.checked{
    color: green;
}

.remove{
    color: red;
}

.clicked{
    text-decoration: line-through;
    font-style: italic;
}

input{
    margin-top: 20px;
    border: 0;
    background-color: whitesmoke;
    outline: none;
    padding: 20px;
    width: 100%;
}
