*{
    margin: 0 ;
    padding: 0;
    outline: 0;
    text-align: center;
    color: white;
    font-size: 30px;
    user-select: none;
}

body{
    background: whitesmoke url(externos/background.jpg) no-repeat center top;
    background-size: cover;
}

.escurecedor{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.315);
}

.enunciado{
    padding-block: 50px ;
}

h1{
    font-size: 3rem;
    text-shadow: -1px 6px 12px white;
}

p{
    font-size: 1rem;
}

.container{
    display: flex;
    padding-block-start: 50px;
    padding-block-end: 100px ;
    justify-content: center;
}

.grupo{
    width: 200px;
    display: flex;
    flex-direction: column;
}

button{
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 10px;
    border: 0;
    background-color: rgba(0, 0, 0, 0.5);
}