* {
    margin: 0;
    padding: 0;
    box-sizing: border-box  ;
    user-select: none;
}

.calculator{
    background-color: goldenrod;
    border-radius: 10px;
    box-shadow: 0 0 10px  black;
    width: 500px;
    margin: 3% auto;
    padding: 30px;
}

.display{
    font-size: 4rem;
    font-weight: bold;
    text-align: right;
    margin: auto;
    width: 430px;
    height: 100px;
    padding: 15px;
    background-color: black;
    color: white;
    overflow: hidden;
}

.calculator-buttons{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px ;
}

button{
    cursor: pointer;
    padding: 20px;
    width: 100px;
    color: white;
    background-color: black;
    border-radius: 10px;
    margin: 5px;
    font-size: 2rem;
    font-weight: bolder;
}

button:hover{
    background-color: goldenrod;
    border:  1px solid black;
    color: black;
}
